<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
  <div class="container">
    <div class="ten columns">
      <div class="resume-titlebar">
        <img src="images/resumes-list-avatar-01.png" alt=""/>
        <div class="resumes-list-content">
          <h4>{{candidate.firstName + ' ' + candidate.lastName}}<span>{{candidate.speciality}}</span></h4>
          <span class="icons"><i class="fa fa-map-marker"></i>{{candidate.contact.address.country}}</span>
          <span class="icons"><a href="mailto:john.doe@example.com"><i class="fa fa-envelope"></i>{{candidate.contact.email}}</a></span>
          <div class="skills" *ngFor="let skill of skills">
            <span>{{skill.skill}}</span>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <div class="six columns">
      <div class="two-buttons">

        <app-button [buttons]="sendMessageButton"></app-button>
        <!--<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>-->

        <!--<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">-->
          <!--<div class="small-dialog-headline">-->
            <!--<h2>Send Message to John Doe</h2>-->
          <!--</div>-->

          <!--<div class="small-dialog-content">-->
            <!--<form action="#" method="get" >-->
              <!--<input type="text" placeholder="Full Name" value=""/>-->
              <!--<input type="text" placeholder="Email Address" value=""/>-->
              <!--<textarea placeholder="Message"></textarea>-->

              <!--<button class="send">Send Application</button>-->
            <!--</form>-->
          <!--</div>-->

        <!--</div>-->
        <!--<a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Resume</a>-->


      </div>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  <!-- Recent Jobs -->
  <div class="eight columns">
    <div class="padding-right">

      <h3 class="margin-bottom-15">About</h3>
      <p class="margin-reset">
        {{candidate.about}}
      </p>
    </div>
  </div>


  <!-- Widgets -->
  <div class="eight columns">

    <h3 class="margin-bottom-20">Skills</h3>

    <!-- Resume Table -->
    <dl class="resume-table">
      <dt *ngFor="let skill of candidate.skills">
        <small class="date">{{'Experience ' + skill.experience}}</small>
        <strong>{{'Practical knowledge ' + skill.practicalKnowledge}}</strong>
      </dt>
      <dd>
        <p>{{'Practical knowledge ' + skill.practicalKnowledge}}</p>
      </dd>
    </dl>
  </div>

</div>

