<div id="titlebar" class="resume">
  <div class="container">
    <div class="ten columns">
      <div class="resume-titlebar">
        <div class="resumes-list-content">

          <h4><span>Candidate</span></h4>

          <span class="icons"><i class="fa fa-money"></i>$</span>
          <p>

          <div class="skills">
            <span></span>
          </div>


          <div class="clearfix"></div>
          <span><i class="ln ln-icon-Stopwatch">Available</i></span>
          <span class="icons"></span>
          <div class="clearfix"></div>


        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <!-- Widgets -->
    <div class="eight columns">
      <h3 class="margin-bottom-20">Roles</h3>

      <!-- Resume Table -->
      <dl class="resume-table">
        <dd>
          <p></p>
          <small class="date">Division</small>
          <small class="date"></small>
        </dd>
      </dl>
    </div>
  </div>
</div>
