<div id="titlebar" class="resume">
  <div class="container">
    <div class="ten columns">
      <div class="resume-titlebar">
        <div class="resumes-list-content">

          <h4 text="*{name}"><span>Accountant</span></h4>

          <span class="icons"><i class="fa fa-money"></i>$</span>
          <span class="icons" text="*{hourlyRate}"/>
          <span>/ hour</span>

          <p if="*{skills != null}">
          <p each="skill,rowStat : *{skills}">
          <p if="*{skills[__${rowStat.index}__] != null}">

          <div class="skills">
            <span text="*{skills[__${rowStat.index}__].skill.title}"></span>
          </div>
          </p>
          </p>
          </p>


          <div class="clearfix"></div>
          <span><i class="ln ln-icon-Stopwatch">Available</i></span>
          <span class="icons" text="*{timePeriod}"></span>
          <div class="clearfix"></div>


        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <!-- Widgets -->
    <div class="eight columns">
      <h3 class="margin-bottom-20">Skills</h3>

      <!-- Resume Table -->
      <dl class="resume-table">
        <p if="*{skills != null}">
        <p each="skill,rowStat : *{skills}">
        <p if="*{skills[__${rowStat.index}__] != null}">
          <dd>
        <p text="*{skills[__${rowStat.index}__].skill.title}"></p>
        <small class="date">Experience</small>
        <small class="date" text="*{skills[__${rowStat.index}__].experienceDuration}"></small>
        <small class="date">years</small>
        </dd>
        </p>
        </p>
        </p>
      </dl>

      <h3 class="margin-bottom-20">Certifications</h3>

      <!-- Resume Table -->
      <dl class="resume-table">
        <p if="*{certifications != null}">
        <p each="soft,rowStat : *{certifications}">
        <p if="*{certifications[__${rowStat.index}__] != null}">
          <dd>
        <p text="*{certifications[__${rowStat.index}__].title}"></p>
        </dd>
        </p>
        </p>
        </p>
      </dl>


    </div>
    <div if="${#authentication != null and #authorization.expression('hasRole(''ROLE_CANDIDATE'')')}">
      <div if="*{approved}">
        <button id="edit" type="submit" name="edit" class="button big margin-top-5">
          Edit<i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>

    </div>
  </div>
</div>
