<!-- Application #1 -->
<div class="application">
  <!-- Info -->
  <div class="app-content">
    <div class="info">
      <img
        src="https://png2.kisspng.com/20180612/tox/kisspng-samsung-galaxy-a8-a8-user-login-telephone-avata-pawn-5b20728263c2d1.7486204615288531224086.png"
        alt=""/>
      <span>{{candidate.firstName + ' ' + candidate.lastName}}</span>
      <ul>
        <li>
          <app-buttons [buttons]="infoButtons"></app-buttons>
        </li>
      </ul>
    </div>
    <!-- Buttons -->
    <div class="buttons">
      <app-buttons [buttons]="manageButtons"></app-buttons>
    </div>
  </div>
  <!-- Footer -->
  <div class="app-footer">
    <div class="rating four-stars">
      <div class="star-rating"></div>
      <div class="star-bg"></div>
    </div>
    <ul>
      <li><i class="fa fa-file-text-o"></i> New</li>
      <li><i class="fa fa-calendar"></i> September 24, 2015</li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
