<!-- Header
================================================== -->
<div id="wrapper">
  <header class="sticky-header">
    <div class="container">
      <div class="sixteen columns">

        <!-- Menu -->
        <nav id="navigation" class="menu">
          <ul id="responsive">

            <li><a href="/">Home</a>
            </li>

            <li><a href="/">About</a>
            </li>

            <li><a href="/">Support</a></li>
          </ul>


          <ul class="float-right">
            <li><a href=""><i class="fa fa-user"></i> Sign Up</a></li>
            <li><a href=""><i class="fa fa-lock"></i> Log In</a></li>
          </ul>

        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
          <a href="" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>

      </div>
    </div>
  </header>
</div>
