<header class="sticky-header">
  <div class="container">
    <div class="sixteen columns">

      <!-- Menu -->
      <nav id="navigation" class="menu">
        <ul id="responsive">

          <li *ngFor="let item of header">
            <app-button [button]="item.parent"></app-button>
            <ul>
              <li *ngFor="let button of item.children">
                <app-button [button]="button"></app-button>
              </li>
            </ul>
          </li>
        </ul>

        <app-auth [authButtons]="auth"></app-auth>
      </nav>

      <!-- Navigation -->
      <div id="mobile-navigation">
        <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
      </div>

    </div>
  </div>
</header>
<div class="clearfix"></div>
