<div class="container">
  <!-- Table -->
  <div class="sixteen columns">
    <p class="margin-bottom-25" style="float: left;">The job applications for <strong><a href="#">Power Systems User
      Experience Designer</a></strong> are listed below.</p>
    <strong><a href="#" class="download-csv">Download CSV</a></strong>
  </div>

  <app-filter-component></app-filter-component>

  <div class="sixteen columns">
    <app-candidate-list-item
      *ngFor="let candidate of items"
      [candidate]="candidate">
    </app-candidate-list-item>
  </div>
</div>

