<!-- Titlebar
    ================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="@{/admin/candidates}">Home</a></li>
          <li>Approved candidates.</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <form action="@{/admin/candidates}"
        method="post" id="approved" name="approved">

    <input type="hidden" name="page"/>
    <input type="hidden" name="size"/>

    <!-- Recent Jobs -->
    <div class="eleven columns" id="leftPanel">
      <div class="padding-right">

        <div>
          <ul class="resumes-list" if="${pageWrapper.getItems().size() != 0}">

            <li each="cons,rowStat : ${pageWrapper.page.content}">
              <a href="@{/admin/candidate-account/__${cons.id}__}" target="_blank">
                <div class="resumes-list-content">
                  <h4 text="${cons.name}">
                  </h4>
                  <span><i class="fa fa-envelope"></i></span>
                  <span text="${cons.username}"></span>
                  <span><i class="fa fa-map-marker"></i></span>
                  <span text="${cons.address.city}"><i class="fa fa-map-marker"></i></span>
                </div>
              </a>
              <div class="clearfix"></div>

            </li>

          </ul>
        </div>


        <div class="clearfix"></div>

        <div class="pagination-container">
          <nav class="pagination">
            <ul if="${pageWrapper.getItems().size() != 0}">
              <li class="${pageWrapper.hasPreviousPage}? '' : 'disabled'">
                <a if="${not pageWrapper.hasPreviousPage}">«</a>
                <a if="${pageWrapper.hasPreviousPage}"
                   href="'javascript:navigatePage(' + ${pageWrapper.number-1} + ',' + ${pageWrapper.size} + ')'">
                  «</a>
              </li>
              <li each="item : ${pageWrapper.items}"
                  class="${item.current}? 'active' : ''">
                <a class="current-page" if="${item.current}" text="${item.number}">1</a>
                <a if="${not item.current}"
                   href="'javascript:navigatePage(' + ${item.number} + ',' + ${pageWrapper.size} + ')'">
                  <span text="${item.number}">1</span></a>
              </li>
              <li class="${pageWrapper.hasNextPage}? '' : 'disabled'">
                <a if="${not pageWrapper.hasNextPage}">»</a>
                <a if="${pageWrapper.hasNextPage}"
                   href="'javascript:navigatePage(' + ${pageWrapper.number+1} + ',' + ${pageWrapper.size} + ')'">»</a>
              </li>
            </ul>
          </nav>

          <nav class="pagination-next-prev" if="${pageWrapper.getItems().size() != 0}">
            <ul>
              <li class="${pageWrapper.firstPage} ? 'disabled' : ''">
                <a class="prev" if="${pageWrapper.firstPage}">First</a>
                <a class="prev" if="${not pageWrapper.firstPage}"
                   href="'javascript:navigatePage(' + 1 + ',' + ${pageWrapper.size} + ')'">
                  Previous</a>
              </li>

              <li class="${pageWrapper.lastPage}? 'disabled' : ''">
                <a class="next" if="${pageWrapper.lastPage}">Last</a>
                <a class="next" if="${not pageWrapper.lastPage}"
                   href="'javascript:navigatePage(' + ${pageWrapper.totalPages} + ',' + ${pageWrapper.size} + ')'">
                  Next</a>
              </li>
            </ul>
          </nav>
        </div>


      </div>
    </div>
  </form>
  <!-- Widgets / End -->
</div>

